@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

.heading {
    text-align: left;
    background-color: #14142a;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.logo {
    padding: 0;
    margin: 0;
    transform: scale(0.8);
    
}

.left-list {
    width: 30px;
    position: fixed;
    bottom: -70px;
    left: -27px;
    right: auto;
    z-index: 10;
    transform: scale(0.3);
    list-style-type: none;
}

.left-list li {
    margin-top: 20px;
}