@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
.Top {
    background-color: #14142a;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.Top p {
  color: #6b869a;
  text-align: center;
  text-justify: auto;
  display: grid;

}

.Top h2 {
  color: #8da3b3;
  display: grid;

}

.logo {
  text-align: left;
}

.wrapper {
    display: grid;
    place-items: center;
    background-color: #14142a;
    color: #bcc9e3;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;  
    
}
  
  .typing-demo {
    width: 21.8ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3.5px solid;
    font-size: 2.5em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }