
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap')

* {
	box-sizing: border-box;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: block;
	margin: 15px 0;
	height: 23px;
	width: 400px;
}

.progress-done {
	background-image: linear-gradient(to right, #ced4d0, #1b1a19);
	box-shadow: 0 3px 3px -5px #ffffff, 0 2px 5px #ffffff;
	border-radius: 20px;
	color: rgb(241, 233, 203);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
    font-size: 16px;
}